<div class="w-full flex flex-row justify-between bg-gray-600 text-gray-100">
  <nav class="ml-8 mb-4 mt-4" >
    <a class="mx-3" routerLink="/">Главная</a>
    <a class="mx-3" routerLink="/translationlist">История переводов</a>
  </nav>
  <h1 class="mr-8 mb-4 mt-4">
    Translate IT!
  </h1>
</div>
<router-outlet></router-outlet>

<!-- <div class="container mx-auto">
  <div>
    <h1 class="justify-center">
      Welcome Test APP!
    </h1>
    <div class="flex flex-col sm:flex-row">
      <app-text-area name="fromText" class="sm:w-1/2 w-full"></app-text-area>
      <app-text-area name="toText" class="sm:w-1/2 w-full"></app-text-area>
    </div>
  </div>
<div>

</div>
  <div class="text-center">
    <translate-button></translate-button>
  </div>
  <div>
    <app-list-languages></app-list-languages>
  </div>
  <div>
    <app-list-languages></app-list-languages>
  </div>
</div> -->
