<form
  class="flex items-center justify-center h-screen bg-gray-100"
  [formGroup]="form"
  (ngSubmit)="translate()"
>
  <div class="w-1/2">
    <div
      class="bg-gray-100 flex-col flex border border-gray-300 rounded"
    >
      <div
        class="flex items-center justify-between border-b border-gray-300 p-2"
      >
        <app-list-languages
          class="flex items-center gap-2"
          formControlName="sourceLanguage"
        ></app-list-languages>
        <app-list-languages
          class="flex items-center gap-2"
          formControlName="targetLanguage"
        ></app-list-languages>
      </div>
      <textarea
        class="p-4 h-48 text-gray-700"
        placeholder="Введите текст"
        formControlName="sourceText"
      >
      </textarea>
    </div>
    <button
      class="bg-gray-600 text-white px-4 py-2 rounded w-full mt-2"
      type="submit"
    >
      Перевести
    </button>
  </div>
</form>
